%h2{style: "color: Orange"} About this Website
%p{class: 'hp'}
  This website was created for the purpose of the course SERVICE SECURITY (Spring Semester 2015) at the
  %a{href: 'http://www.nthu.edu.tw' ,style: "text-decoration: underline;"} National Tsing Hua University.
%p{class: 'hp'}
  This credit card service was created for users to store and retrieve their credit card information.
  Our systems uses an encrypted database for storage, as well as proper authorization and authentication so that users
  can rest assured that their information is available to them and them ALONE!

%p{class: 'hp'}
  CreditCardService was created by Clive Augustin, Chen Li Zhan and Tiffany Fontenelle-Augustin (for contact info, please see "Contact Us" tab) or
  %a{href: '/contact' ,style: "text-decoration: underline;"} Click here

%p{class:'hp'}
  For an explanation on how to use our website, please see the "Help" tab or
  %a{href: '/help' ,style: "text-decoration: underline;"} Click here
