%h2{style: "color:green"} Contact Us
%p{class: 'hp'}
  This website was created for the purpose of the course TEXT MINING (Spring Semester 2015) at the
  %a{href: 'http://www.nthu.edu.tw' ,style: "text-decoration: underline;"} National Tsing Hua University.
  The following is a list of the developers along with their contact information:
%ul{class: 'hp'}
  %li{style: "color: #0066FF"}
    Tiffany Natasha Fontenelle-Augustin
    %ul{style: "color: Black"}
      %li
        Qualifications
        %p
          Bsc. Computing Minor: Mathematics
          %br
            Msc. Information systems and Applications (in progress)
      %li
        Public Key
        %p
          %a{href: 'files/tiffKey.txt' ,style: "text-decoration: underline;"} Click Here for Tiffany's public key.
      %li
        %p
          Email address: myemail@gmail.com
  %li{style: "color: #0066FF"}
    Clive Augustin
    %ul{style: "color: Black"}
      %li
        Qualifications
        %p
          Bsc. Computing Minor: Mathematics
          %br
            Msc. Information systems and Applications (in progress)
      %li
        Public Key
        %p
          %a{href: 'files/cliveKey.txt' ,style: "text-decoration: underline;"} Click Here for Clive's public key.
      %li
        %p
          Email address: myemail@gmail.com
  %li{style: "color: #0066FF"}
    Chen Li Zhan
    %ul{style: "color: black"}
      %li
        Qualifications
        %p
          Bsc.Information Management
          %br
            Msc. Device Science (in progress)
      %li
        Public Key
        %p
          %a{href: 'files/leeKey.txt' ,style: "text-decoration: underline;"} Click Here for Lee's public key.
      %li
        %p
          Email address: myemail@gmail.com
