%h2{style: "color: Red"} Help
%p{class: 'headings'}
  The following is a list of functionalities available and how to use them.
%ul
  %li{class: 'hlist'}
    Login / SignUp / Connect with Github
    %p{class: 'hp'}
      Users are given the option to use their github account to log into our system.
      In the case where the user does not have a github account the user can select the sign up option to register an account with us.
      If the user has already registered an account with us, then the user can just select Login to use our system.
      %strong Users MUST be signed in to use ALL of our services!
  %li{class: 'hlist'}
    Credit Card Validation
    %p{class: 'hp'}
      Users are prompted to enter the credit card number and our systems informs the user whether the card is valid or not.
  %li{class: 'hlist'}
    Retrieve Credit Card Info
    %p{class: 'hp'}
      By simply clicking on the link "Retrieve Credit Card info", users are able to view information about all credit cards that the user has stored in our system.
      Users can only view their own credit card information.
  %li{class: 'hlist'}
    Store Credit Card Info
    %p{class: 'hp'}
      Users are given the option to store as many credit cards as they like.
      The credit card number, owner, expiry date and credit card company must be stored for each card.
