%h2 Main Page
%p
  The CreditCardAPI is up and running; API available
<<<<<<< HEAD
  %a{href: 'https://creditcard-api.herokuapp.com'}
=======
  %a{href: 'https://github.com/TriForce1/CreditCardService/blob/master/README.md'}
>>>>>>> e24d1eb8ea9ec230b30a3234aa00f4153c63de53
    "here"
%p
  %h4 API Services
  %ul
    %li
      %a{href: '/validate'} Credit Card Validation
    %li
      %a{href: '/retrieve'} Retrieve Credit Card Info
    %li
      %a{href: '/store'} Store Credit Card Info
