%h2 Main Page
%p
  The CreditCardAPI is up and running; API available
  %a{href: 'https://github.com/TriForce1/CreditCardService/blob/master/README.md'}
    "here"
%p
  %h4 API Services
  %ul
    %li
      %a{href: '/validate'} Credit Card Validation
    %li
      %a{href: '/retrieve'} Retrieve Credit Card Info
    %li
      %a{href: '/store'} Store Credit Card Info
