%h2 Main Page
%p{class: 'hlist'}
  The CreditCardAPI is up and running; API available
  %a{href: 'https://credit-card-service-api.herokuapp.com'}
    "Here"
%p
  %h3 API Services
  %ul
    %li
      %a{href: '/validate', class: 'hlist'} Credit Card Validation
    %li
      %a{href: '/retrieve', class: 'hlist'} Retrieve Credit Card Info
    %li
      %a{href: '/store', class: 'hlist'} Store Credit Card Info
