%h2 Login
%form{:action => '/login', :method => 'post', :id => 'user-form', class: 'form-horizontal'}
    .form-group
        %dl
            %dt
                %label{:for => 'username'} Username
            %dd
                %input{:type => 'text', :name => 'username', :id => 'username_input'}
    .form-group
        %dl
            %dt
                %label{:for => 'password'} Password
            %dd
                %input{:type => 'password', :name => 'password', :id => 'password_input'}
    .form-group
        %input{:type => 'submit', :id => 'login-form-submit', :class => 'btn btn-default', :value => 'submit'}
